@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

body {
  margin: 0;
  background-color: #06171e;
}

* {
  box-sizing: border-box;
  color: #ffffff;
  font-family: "Figtree", sans-serif;
  margin: 0;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  padding-left: 10px;
  padding-right: 10px;
}

.content {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.gallery,
.footer,
.figure,
.header,
.dialogHeader,
.dialogFooter,
.indexFooter {
  display: flex;
}

.gallery {
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  margin: 50px 16px 50px 16px;
}

.photoPreview {
  border-radius: 16px;
  border: 2px solid #124658;
  height: 150px;
  object-fit: cover;
  width: 150px;
}

.photoPreview:hover {
  border: 2px solid #6dc4e5;
  cursor: pointer;
}

.header {
  align-items: center;
  background-color: #09212a;
  height: 80px;
}

.logo {
  margin-left: 50px;
  width: 215px;
}

h1 {
  font-size: 56px;
  font-weight: 800;
  margin-bottom: 50px;
  margin-top: 100px;
  text-align: center;
}

.footer {
  align-items: center;
  background-image: url("./img-website/footer-bg.svg");
  background-position: center;
  background-size: cover;
  height: 128px;
  justify-content: center;
}

.figureFooter {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.footer-img {
  margin-bottom: 15px;
}

.footer-figcaption {
  color: #627b84;
  font-family: "Figtree", sans-serif;
  font-size: 13px;
}

.closeButton,
.navButton {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  outline: inherit;
  padding: 0;
}
.closeButton {
  background-image: url("./img-website/close.svg");
  height: 24px;
  width: 24px;
}

.center {
  align-items: center;
  display: flex;
  justify-content: center;
}
.dialog {
  background-color: #09212a;
  border-radius: 40px;
  border: 0;
  display: none;
  flex-direction: column;
  height: 80vh;
  justify-content: space-between;
  left: 50%;
  padding: 32px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
}

.dialog::backdrop {
  background-color: #09212a;
  opacity: 0.5;
  pointer-events: none;
}

dialog[open] {
  display: flex;
}

.navButton {
  height: 60px;
  width: 60px;
}

.arrowBack {
  background-image: url("./img-website/button-backwards.svg");
}

.arrowFor {
  background-image: url("./img-website/button-forwards.svg");
}

dialog button:focus {
  border: #ffffff 2px solid;
}

.indexFooter {
  font-size: 16px;
  justify-content: center;
  min-width: 260px;
}

.dialogFooter {
  align-items: center;
  justify-content: center;
  width: 100%;
}

.dialogHeader {
  justify-content: space-between;
  width: 100%;
}

.dialogImage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 70%;
  width: 100%;
}

@media (max-width: 560px) {
  .dialog {
    height: 100vh;
    width: 100vw;
  }
  .indexFooter {
    min-width: 100px;
  }
  .dialogHeader {
    flex-direction: column-reverse;
  }
  .closeButton {
    margin-left: auto;
  }
}
